# ========================================
# Miscellaneous
# ========================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ========================================
# IntelliJ / Android Studio
# ========================================
*.iml
*.ipr
*.iws
.idea/

# ========================================
# Environment & Secrets
# ========================================
*.env             # Environment variables
*.jks             # Android keystore files
.android/kep.properties

# ========================================
# VS Code
# ========================================
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code. Include only if you want it in version control.
#.vscode/

# ========================================
# Flutter/Dart/Pub related
# ========================================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# ========================================
# Symbolication & Obfuscation
# ========================================
app.*.symbols
app.*.map.json

# ========================================
# Android build artifacts
# ========================================
/android/app/debug
/android/app/profile
/android/app/release
